<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Xephon-K UI</title>
    <!-- TODO: favicon -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* over ride bluma default */
        a {
            color: #1f78b4;
        }

        .editor-con {
            min-height: 400px;
        }

        .editor {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
<!-- FIXME: the nav bar is currently a direct copy of Example-->
<nav class="nav">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item"><h1>Xephon-K</h1></a>
        </div>
        <div class="nav-right nav-menu">
            <a class="nav-item" href="https://github.com/xephonhq/xephon-k" target="_blank">Source</a>
        </div>
    </div>
</nav>
<div id="app" class="container">
    <!-- Database Information /info -->
    <div class="columns">
        <div class="column">
            <p>Database Info</p>
            <table class="table">
                <thead>
                <tr>
                    <td>Key</td>
                    <td>Value</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(value, key) in info">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <p>Internal Metrics</p>
            <table class="table">
                <thead>
                <tr>
                    <td>Key</td>
                    <td>Value</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(value, key) in metrics">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <p>Query Builder</p>
            </div>
            <div class="field">
                <button class="button" v-on:click="reset">reset</button>
            </div>
            <div class="field">
                <label>start time</label>
                <input type="datetime-local" v-model="start_time">
                <span>{{ start_time | timestamp }}</span>
            </div>
            <div class="field">
                <label>end time</label>
                <input type="datetime-local" v-model="end_time">
                <span>{{ end_time | timestamp }}</span>
            </div>
            <div class="field">
                <button class="button" v-on:click="readTemplate">t-read</button>
                <button class="button" v-on:click="writeTemplate">t-write</button>
            </div>
            <div class="field">
                <button class="button" v-on:click="read">read</button>
                <button class="button" v-on:click="write">write</button>
            </div>
        </div>
        <div class="column editor-con">
            <div id="editor" class="editor">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div id="canvas" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Xephon-K</strong> by <a href="https://github.com/at15" target="_blank">at15</a>.
                The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/xephonhq/xephon-k" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.4.0/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"
        integrity="sha256-xrr4HH5eSY+cFz4SH7ja/LaAi9qcEdjMpeMP49/iOLs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"
        integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script src="util.js"></script>
<script src="app.js"></script>
</body>
</html>
